<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="GET">

    <div {% if tipo != "buscar" %}hidden{% endif %}>
        <label for="n">Nombre:</label>
        <input type="text"
               name="n"
               id="n"
               placeholder="Buscar Nombre..."
               value="{{ consulta_nombre }}">
    </div>

    <div {% if tipo != "buscar" %}hidden{% endif %}>
        <label for="c">Cedula:</label>
        <input type="text"
               name="c"
               id="c"
               placeholder="Buscar Cedula..."
               value="{{ consulta_cedula }}">
    </div>

    <div {% if tipo != "consultar" %}hidden{% endif %}>
        <label for="codcarpeta">CodCarpeta:</label>
        <input type="text"
               name="codcarpeta"
               id="codcarpeta"
               placeholder="Buscar CodCarpeta..."
               value="{{ consulta_codcarpeta }}">
    </div>

    <button type="submit">Buscar</button>

</form>
<hr>
<h3>Resultados:</h3>
    
    {% if resultado %}
        <table border="1">
    <thead>
      <tr>
        <th colspan="5">Resultados de la busqueda</th>
      </tr>
	<tr>
        	<th>Nombre</th>
        	<th>tipo doc.</th>
        	<th>cédula</th>
        	<th>Programa</th>
        	<th>contacto</th>
      </tr>
    </thead>
    <tbody>
            {% for item in resultado %}
           <tr>
	        <td><strong>{{ item.nombre }}</strong></td>
		<td>{{ item.tipocc }}</td>
 		<td>{{ item.cedula_ciudadania }}</td>
		<td>{{ item.programa }}</td>
		<td>{{ item.contacto }}</td>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados con los criterios ingresados.</p>
    {% endif %}
    
</body>
</html>