<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="GET">
<div>
<label for="n">Nombre:</label>
<input type="text" name="n" id="n" placeholder="Buscar Nombre..." value="{{ consulta_nombre}}">
</div>
<div>
<label for="c">Cedula:</label>
<input type="text" name="c" id="c" placeholder="Buscar Cedula..." value="{{ consulta_cedula}}">
</div>
        <button type="submit">Buscar</button>
<a href="{% url 'buscar' %}">Limpiar filtros</a>
    </form>
<hr>
<h3>Resultados:</h3>
    
    {% if resultado %}
        <ul>
            {% for item in resultado %}
                <li><strong>{{ item.nombre }}</strong> - {{ item.cedula_ciudadania }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados con los criterios ingresados.</p>
    {% endif %}
    
</body>
</html>