{% extends "estudiantes/home.html" %}
{% block title %}Panel de estudiantes - SGEIUAN{% endblock %}
{% block content %} 
<div class="panel-container"> 
    <div class="panel-header">
        <h2 id="listado-title">Listado Estudiantes</h2>
    </div>
    <div class="table-responsive">    
        {% if lista_Estudiantes %}
            <table class="custom-table">
                <thead>       
                    <th>Nombre Completo</th>
                    <th>Identificación</th>
                    <th style="text-align: right;">Acciones</th>
                </thead>
                <tbody>
                {% for estudiante in lista_Estudiantes %}
                    <tr>
                        <td>
                            <strong>{{estudiante.nombre}}</strong>
                        </td>
                        <td>
                            <strong>{{estudiante.cedula_ciudadania}}</strong>
                        </td>
                        <td style="text-align: right;">
                            <a href="{% url 'informacion' estudiante.cedula_ciudadania %}" class="student_link">Ver detalles -></a>
                        </td>
                    </tr>   
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="empty-state">
            <p style="font-size: 1.1rem;margin-bottom: 0.5rem;">no hay estudiantes registrados en la base de datos.</p>
            <small>usa el botón inferior para añadir uno nuevo</small>
        </div>
        {% endif %}
    </div>
</div>
        <!-- Barra de navegación inferior entre módulos -->
    <div class="actions-bar">
        <a href="{% url 'buscar' %}" class="btn-nav">
            🔍 Buscar estudiante
        </a>
        <a href="{% url 'consultar' %}" class="btn-nav">
            🔍 Buscar carpeta
        </a>
        <a href="{% url 'registro' %}" class="btn-nav">
            ➕ Registrar estudiante
        </a>
        <a href="{% url 'carpeta' %}" class="btn-nav">
            ➕ Registrar carpeta
        </a>
        <a href="{% url 'logout' %}" class="btn-nav">
             Cerrar Sesión
        </a>
    </div>
</div>
{% endblock %}
