<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion estudiante</title>
</head>
<body>
  <h1>informacion estudiante</h1> 
  <table border="1">
    <thead>
      <tr>
        <th colspan="2">{{estudiante.nombre}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>tipo de cédula:</td>
        <td>{{ estudiante.tipocc }}</td>
      </tr>
      <tr>
        <td>cédula ciudadania:</td>
        <td>{{ estudiante.cedula_ciudadania }}</td>
      </tr>
       <tr>
        <td>Programa:</td>
        <td>{{ estudiante.programa }}</td>
      </tr>
       <tr>
        <td>Contacto:</td>
        <td>{{ estudiante.contacto }}</td>
      </tr>
      <tr>
        <td>Carpeta:</td>
        <td><a href="{%url 'carpeta' %}" class="btn btn-warning">Crear carpeta</a></div></td>
      </tr>
    </tbody>
  </table> 
  <div class="d-flex justify-content-between">
    <a href="{%url 'editar' estudiante.cedula_ciudadania %}" class="btn btn-warning">Actualizar datos</a></div>
    <a href="{%url 'index' %}" class="btn btn-warning">Regresar a inicio</a></div>
    <form method="post" action="{% url 'borrar' estudiante.cedula_ciudadania%}" onsubmit="return confirmarEliminacion('{{estudiante.cedula_ciudadania}}')">
      {% csrf_token %}
      <button type="submit" class="btn btn-warning">Borrar</button>
    </form>
</body>
<script>
  function confirmarEliminacion(cedula){
    return confirm("¿Estás seguro que deseas eliminar este registro con la cédula?"+cedula+"")
  }
</script>
</html>