<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion</title>
</head>
<body>
  <h1>informacion estudiante</h1> 
  <table border="1">
    <thead>
      <tr>
        <th colspan="2">{{ listado.pk }}</th>
      </tr>
    </thead>
    <tbody>
      {% for campo in listado.get_fields %}
      <tr>
        <td>{{ campo.verbose_name}}</td>
        <td>{% if campo.value is True %}
          <span>Sí</span>
        {% elif campo.value is False %}
          <span>No</span>
        {% elif campo.value != None %}
          {{ campo.value}}
        {% else %}
          <em>No registrado</em>
        {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table> 
  <div class="d-flex justify-content-between">
    <a href="{%url 'editar' listado.pk %}" class="btn btn-warning">Actualizar datos</a></div>
    <a href="{%url 'index' %}" class="btn btn-warning">Regresar a inicio</a></div>
    <form method="post" action="{% url url_borrar listado.pk %}" onsubmit="return confirmarEliminacion('{{listado.get_fields.0.verbose_name}}','{{ listado.pk }}')">
      {% csrf_token %}
      <button type="submit" class="btn btn-warning">Borrar</button>
    </form>
</body>
<script>
  function confirmarEliminacion(etiqueta,registro){
    return confirm("¿Estás seguro que deseas eliminar este registro con la "+etiqueta+"?"+registro+"")
  }
</script>
</html>